* {
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: 'Verdana', 'Arial', sans-serif;
}

header {
  margin-left: auto;
  margin-right: auto;
  width: 97%;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;

}

.slides {
  display: flex;
  flex-direction: column;
  margin-left: 3%;
  margin-right: 3%;
}

p {
	position: relative;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 25px;
  padding: 5px 5px;	
}

#navigation {
  background-color: #417cf2;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  float: left;
}

#navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}

#navigation ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
}

#navigation ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}

#navigation ul li a:hover {
  background-color: #1a3469;
}

.slides {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  z-index: 1;
}
.slides .list {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.slides .slide {
  display: flex;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.slide .background {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-position: center;
  will-change: transform;
  background-size: cover;
}

.slide .content {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  display: flex;
  text-align: center;
  width: 95%;
  padding: 3rem;
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 40rem;
  position: relative;
  align-items: center;
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.25em;
  font-weight: 500;
}

@media screen and (min-width: 600px) {
  .slides {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media screen and (min-width: 960px) {
  .slides {
    margin-left: 20%;
    margin-right: 20%;
  }
}

