body {
  font-family: 'Verdana', 'Arial', sans-serif;
}

header {
  margin-left: auto;
  margin-right: auto;
  width: 97%;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.slides {
  display: block;
  margin-left: 3%;
  margin-right: 3%;
}

.slides ul {
  list-style-type: none;	
}

.list ul {
  list-style-type: circle;	
}

p {
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 25px;
  padding: 5px 5px;	
}

#navigation {
  background-color: #417cf2;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  float: left;
}

#navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}

#navigation ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
}

#navigation ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}

#navigation ul li a:hover {
  background-color: #1a3469;
}

/* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

@media screen and (min-width: 600px) {
  .slides {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media screen and (min-width: 960px) {
  .slides {
    margin-left: 20%;
    margin-right: 20%;
  }
}


