body {
  font-family: 'Verdana', 'Arial', sans-serif;
}

header {
  margin-left: auto;
  margin-right: auto;
  width: 97%;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;

}

.content {
  display: block;
  margin-left: 3%;
  margin-right: 3%;
}

p {
	position: relative;
}

img {
  max-width: 80%;
  height: auto;
  border-radius: 25px;
  padding: 5px 5px;	
}

#navigation {
  background-color: #417cf2;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  float: left;
}

#navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}

#navigation ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
}

#navigation ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}

#navigation ul li a:hover {
  background-color: #1a3469;
}

@media screen and (min-width: 600px) {
  .content {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media screen and (min-width: 960px) {
  .content {
    margin-left: 20%;
    margin-right: 20%;
  }
}

