/* modular scale used: https://www.modularscale.com/?1,1100,12&em&1.3 */
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Oswald&family=Poppins&display=swap');

body {
  font-family: 'Poppins', 'Arial', sans-serif;
  font-size: calc(12px + 0.75vw); /* Responsive scaling text/font size */
}

h1 { font-size: 1.912em; }
h2 { font-size: 1.559em; }
h3 { font-size: 1.471em; }
h4 { font-size: 1.3em; }
h5 { font-size: 1.199em; }
h6 { font-size: 1.132em; }

header {
  margin-left: auto;
  margin-right: auto;
  width: 97%;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.slides {
  display: block;
  margin-left: 3%;
  margin-right: 3%;
}

.slides ul {
  list-style-type: none;	
}

.list ul {
  list-style-type: circle;	
}

p {
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 25px;
  padding: 5px 5px;	
}

#navigation {
  background-color: #417cf2;
  overflow: visible;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  float: left;
}

#navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  left: 50%;
  float: left;
}

#navigation ul li {
  float: left;
  position: relative;
  right: 50%;
  display: block;
}

#navigation ul li a {
  display: block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
}

#navigation ul li a:hover {
  background-color: #1a3469;
}

/* CSS for Dropdown Buttons */
/* Dropdown Button */
.dropbtn {
  background-color: #417cf2;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1a3469;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 10px 20px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #417cf2;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #1a3469;}

/*FORMERLY STYLE.CSS BELOW*/
}
footer {
    position: relative;
    bottom: 150px;
    left: 0;
    right: 0;
    height: 5%;
}
#b-nav-isud {
    text-align: center;
    font-family: Mont-Extra-Bold, serif;
    font-size: var(--step-up-two-half);
}
#fb {
    padding-right: 50px;
}
#links {
    text-align: center;
}
#links img {
    margin-top: 15px;
    width: 100%;
    height: 100%;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px; 
    border: 1px solid rgb(88, 136, 148);
    border-radius: 5px; 
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 15px;
    resize: vertical
}
input[type=submit] {
    background-color: #495ee5;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #23118b;
}
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
.bottom-list {
    background: blue;
	bottom: 0;
	position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: right;
	overflow: hidden;
	list-style-type: none;
	width: 100%;
}
.bottom-item a {
	display: block;
    font-size: 1.30em;
    text-decoration: none;
	padding: 0.30em 2.2000em;
    color: black;
    text-align: center;
}
.bottom-item li {
  float: left;
  margin: 0;
  padding: 0;
  background: blue;
}
.bottom-item a:hover {
	background-color: #000099;
}
.bottom-item a:hover {
    background-color: #000099;
}
/* Animation webkit */
@-webkit-keyframes myfirst
{
	0% {margin-left: -235px}
	90% {margin-left: 100%;}
	100% {margin-left: 100%;}
}
/* Animation */
@keyframes myfirst
{
	0% {margin-left: -235px}
	70% {margin-left: 100%;}
	100% {margin-left: 100%;}
}
.fish{
	background-image: url('http://www.geertjanhendriks.nl/codepen/form/fish.png');
	width: 235px;
	height: 104px;
	margin-left: -235px;
	position: absolute;	
	animation: myfirst 24s;
	-webkit-animation: myfirst 24s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
}
#fish{
	top: 120px;
}
#fish2{
	top: 260px;
	animation-delay: 12s;
	-webkit-animation-delay: 12s;
}
#form{
	height: 100%;	
	background-color: #98d4f3;
	overflow: hidden;
	position: relative;
}
form{
	margin: 0 auto;
	width: 500px;
	padding-top: 40px;
	color: white;
	position: relative;	
}
label, input, textarea{
	display: block;	
}
input, textarea{
	width: 500px;	
	border: none;
	border-radius: 20px;
	outline: none;
	padding: 10px;
	font-family: 'Sniglet', cursive;
	font-size: 1em;
	color: #676767;
	transition: border 0.5s;
	-webkit-transition: border 0.5s;
	-moz-transition: border 0.5s;
	-o-transition: border 0.5s;
	border: solid 3px #98d4f3;	
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	
}
input:focus, textarea:focus{
	border: solid 3px #77bde0;	
}

textarea{
	height: 100px;	
	resize: none; 
	overflow: auto;
}
input[type="submit"]{
	background-color: #F90;
	color: white;
	height: 50px;
	cursor: pointer;
	margin-top: 30px;
	font-size: 1.29em;
	font-family: 'Sniglet', cursive;
	-webkit-transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
	transition: background-color 0.5s;
}
input[type="submit"]:hover{
	background-color: #e58f0e;
	
}
label{
	font-size: 1.5em;
	margin-top: 20px;
	padding-left: 20px;
}
.formgroup, .formgroup-active, .formgroup-error{
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: 10.5%;
	transition: background-image 0.7s;
	-webkit-transition: background-image 0.7s;
	-moz-transition: background-image 0.7s;
	-o-transition: background-image 0.7s;
	width: 566px;
	padding-top: 2px;
}
.formgroup{
	background-image: url('http://www.geertjanhendriks.nl/codepen/form/pixel.gif');	
}
.formgroup-active{
	background-image: url('http://www.geertjanhendriks.nl/codepen/form/octo.png');
}
.formgroup-error{
	background-image: url('http://www.geertjanhendriks.nl/codepen/form/octo-error.png');
	color: red;
}
/*formerly css that was linked to header elements and their children*/
.contact {
  margin-left: auto;
  margin-right: auto;
  width: 97%;
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  justify-content: center;
}

/*Media Queries*/
@media screen and (min-width: 600px) {
  .slides {
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media screen and (min-width: 960px) {
  .slides {
    margin-left: 25%;
    margin-right: 25%;
  }
}